<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="{{ url_for('static', filename='/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>{% block title %}To Do{% endblock %}</title>
     {% endblock %}
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col" id="center_col1">

                <h1><a href="{{ url_for('index.index') }}" >To Do</a></h1>

                <header>
                       {% block header %}{% endblock %}
                </header>
                    {% for message in get_flashed_messages() %}
                        <div class="flash">{{message}}</div>
                    {% endfor %}

            </div>
            <div class="col">
                <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                         . . .
                     </button>
                  <ul class="dropdown-menu">
                      {% if g.user %}
                        <li><a class="dropdown-item" href="{{ url_for('user.account', id=g.user['id']) }}">Account</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.logout') }}">Log Out</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('completedtasks.get_all_done') }}">Completed tasks</a></li>
                      {% else %}
                        <li><a class="dropdown-item" href="{{ url_for('user.register') }}">Register</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('user.login') }}">Login</a></li>
                      {% endif %}
                  </ul>
                </div>

            </div>

        </div>
        <div class="row" id="bottom">
            <div class="col"></div>
            <div class="col" id="center_col2">
                {% block content %}{% endblock %}
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
