{% extends 'base.html' %}
{% block header %}
<h2>Sign up</h2>
{% endblock %}
{% block content %}
<div class="mb-3">
    <form method="post">
        <input class="form-control" name="username" id="form_login_register" placeholder="Username" required>
        <input class="form-control" name="password" type="password" id="form_password_register" placeholder="Password" required>
        <button id="form_button_register" type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>
{% endblock %}
