{% extends 'base.html' %}
{% block header %}
<h1>Completed tasks:</h1>
{% endblock %}
{% block content %}
    {% if completed_tasks %}
        <form method="post" action="{{ url_for('index.removetask') }}">
            {% for compl_task in completed_tasks %}
                <input type="checkbox" id="compl_task" name="task" value="{{ compl_task['id'] }}">
                <label for="compl_task">
                    <s><a href="{{ url_for('detailstask.current_task', id=compl_task['id']) }}" >{{compl_task['title']}}</a></s>
                </label>
                <br>
            {% endfor %}
            <input type="submit" value="Delete">
        </form>
    {% else %}
        <p>You don't have completed tasks</p>
    {% endif %}
{% endblock %}
